[requires]
python_version = "3.9"

[packages]
apache-airflow = "*"
Jinja2 = "*"
psycopg2-binary = "*"
requests = "*"
minio = "*"
pandas = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
openpyxl = "*"